<div id="offcanvas-nav-primary" uk-offcanvas="overlay: true">
    <div class="uk-offcanvas-bar uk-flex uk-flex-column">
        <ul class="uk-nav-default uk-nav-parent-icon" uk-nav>
            <li><a href="/admin/makeSupplier">Change User Role</a></li>
            <li><a href="/admin/viewDrivers">View Driver Deliveries</a></li>
            <li><a href="/admin/viewSuppliers">View Supplier Sales</a></li>
            <li><a href="/admin/acceptProduct">Accept Products</a></li>
            <li><a href="/admin/verifyID">Verify IDs</a></li>
            <li><a href="/admin/viewCoupons">Edit Coupons</a></li>
            <li><a href="/admin/findUser">Find users by name or email</a></li>
        </ul>
    </div>
</div>