<div id="offcanvas-nav-primary" uk-offcanvas="overlay: true">
    <div class="uk-offcanvas-bar uk-flex uk-flex-column">

        <ul class="uk-nav-default uk-nav-parent-icon" uk-nav>
            <li class="uk-nav-header">Driver Navigation</li>
            <li><a href="/driver/"><span class="uk-margin-small-right" uk-icon="icon: table"></span> Available Jobs</a></li>
            <li><a href="/driver/myJobs/current"><span class="uk-margin-small-right" uk-icon="icon: bolt"></span> Current Jobs</a></li>
            <li><a href="/driver/myJobs/finished"><span class="uk-margin-small-right" uk-icon="icon: check"></span> Finished Jobs</a></li>
            <li class="uk-nav-divider"></li>
            <li><a href="/driver/profile"><span class="uk-margin-small-right" uk-icon="icon: user"></span> Driver Profile</a></li>
        </ul>

    </div>
</div>