<footer>
    <div class="uk-container uk-container-center uk-margin-none-bottom ">
        <div style="float:right;">
            <ul class="uk-subnav">
                <li><a href="/pages/cookies">Cookies</a></li>
                <li><a href="/pages/privacy">Privacy Policy</a></li>
                <li><a href="/pages/termsAndConditions">Terms & Conditions</a></li>
            </ul>
        </div>
    </div>
</footer>