<ul class="uk-subnav uk-subnav-pill" uk-margin>
    <li><a href="/supplier/">Index</a></li>
    <li><a href="/supplier/currentSales">Current Sales</a></li>
    <li><a href="/supplier/viewSales">Sales History</a></li>
    <li><a href="/supplier/viewData">Supplier Details</a></li>
    <!--<li>-->
        <!--<a href="#">More <span uk-icon="icon:  triangle-down"></span></a>-->
        <!--<div uk-dropdown="mode: click;">-->
            <!--<ul class="uk-nav uk-dropdown-nav">-->
                <!--<li class="uk-active"><a href="#">Active</a></li>-->
                <!--<li><a href="#">Item</a></li>-->
                <!--<li class="uk-nav-header">Header</li>-->
                <!--<li><a href="#">Item</a></li>-->
                <!--<li><a href="#">Item</a></li>-->
                <!--<li class="uk-nav-divider"></li>-->
                <!--<li><a href="#">Item</a></li>-->
            <!--</ul>-->
        <!--</div>-->
    <!--</li>-->
</ul>