<ul class="uk-nav-default uk-nav-parent-icon" uk-nav>

    <li class="uk-nav-header">User Navigation</li>
    <li><a href="/users"><span class="uk-margin-small-right" uk-icon="icon:  user"></span> User Data</a></li>
    <li><a href="/users/edit/password"><span class="uk-margin-small-right" uk-icon="icon: cog"></span> Change Password</a></li>
    <!--<li><a href="/users/uploadID"><span class="uk-margin-small-right" uk-icon="icon: check"></span> Verify Account</a></li>-->
    <li class="uk-nav-divider"></li>
    <li><a href="/users/purchases"><span class="uk-margin-small-right" uk-icon="icon: credit-card"></span> Purchases</a></li>
</ul>