<!DOCTYPE html>
<html>
<head>
    <title>Simple Upload Example</title>
</head>
<body>
<form action="/fUpload" enctype="multipart/form-data" method="post">
    <input type="file" name="fileToUpload" multiple>
    <input type="text" name="f1">
    <input type="text" name="f2">
    <input type="submit" value="Upload">
</form>
</body>
</html>