<!DOCTYPE html>
<html lang="en" class="uk-height-1-1">
<head>
    <% include ../partials/head_content %>

    <script src="/javascripts/index.js"></script>
</head>
<body>
<div class="uk-offcanvas-content">
    <% include ../partials/navbar %>
    <div class="uk-container uk-container-center uk-margin-top uk-margin-large-bottom">
        <h3>Reset Password</h3>
        <form action="/forgot" method="POST">

            <div class="uk-margin-small">
                <div class="uk-inline uk-width-1-1">
                    <span class="uk-form-icon uk-form-icon-flip" data-uk-icon="icon: mail"></span>
                    <input class="uk-input" placeholder="E-mail" required type="email" name="forgotEmail">
                </div>
            </div>
            <div class="uk-margin-small">
                <button type="submit" class="uk-button uk-button-primary uk-button-primary uk-width-1-1">SEND PASSWORD</button>
            </div>

        </form>
    </div>


</body>
</html>
